<h1> Welcome <%= @user.username %> </h1>

<p> First Name: <%= @user.first_name %>  </p>
<p> Last Name: <%= @user.last_name %> </p>
<p> Email: <%= @user.email %> </p>

<p> <%= link_to 'Update Profiles', edit_user_path %></p>

<h2> Game History </h2>
<p> Should display all the games with the scores .....</p>


<p> <%= link_to 'Delete Account', user_path, method: "delete" %></p>