<h4>Points: <%= @game.points %></h4>

<div class="container">

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% @cards.each do |card| %>
  <%= form_for(@game) do |f| %>
    <%= f.hidden_field :selected_card, value: card.id %>
    <center><button>
    <img src=<%= card.image %>></button></center>
  <% end %>
<% end %>
<% if @game.cards_shown < 18 %>
  <%= form_for(@game) do |f| %>
    <%= f.hidden_field :add_card, value: 3 %>
    <center><button>
    Add cards</button></center>
  <% end %>
<% end %>
</div>
