<!DOCTYPE html>
<html>
  <head>
    <title>PlaytestSetGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <a href="https://github.com/lil-boat/playtest-set-game">PLAYTEST INC.
    <img id="logo" src="/gamelogo.png"></a>
  <nav>
    <%= link_to 'Play Set', games_path %>
    <% if session[:id] %>
      <%= link_to 'Profile', user_path(session[:id]) %>
      <%= link_to 'Logout', session_path(session), method: "delete" %>
    <% else %>
      <%= link_to 'Login', new_session_path %>
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>

  </nav>
  </header>
    <%= yield %>
  </body>
</html>
