<!DOCTYPE html>
<html>
  <head>
    <title>PlaytestSetGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <nav>
    <ul>
    <% if session[:id] %>
      <li> <%= link_to 'LOGOUT', session_path(session), method: "delete" %></li>
      <li> PROFILE</li>
    <% else %>
      <li> <%= link_to 'LOGIN', new_session_path %></li>
      <li> SIGN UP</li>
    <% end %>
    </ul>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
